.nav-bar{
    grid-area: nav;
    z-index: 2;
    position: fixed;
    height: 80px;
    width: 100vw;
    background-color: var(--clr-light);
    display: flex;
}

.nav-bar-left{
    flex-basis: 40%;
}

.nav-bar-logo{
    margin: 0px 0px 0px 0px;
    padding: .5vh 0 1vh 3vw;
    color: #333;
    vertical-align: top;
}