.nav-bar-icons{
    flex-basis: 60%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-bar-icons > *{
    opacity: 0;
}
.nav-bar-icons > img:hover {
    scale: 1.1;
    opacity:1
}

.nav-bar-notifications{
    margin-right: 16px;
    margin-left: auto;
}

.nav-bar-profile{
    margin-right: 32px;
}
